

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

.close:hover,
.close:focus {
  box-shadow: 
    inset -3.5em 0 0 0 var(--hover),
    inset 3.5em 0 0 0 var(--hover);  
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.slide:hover,
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.offset {  
  box-shadow: 
    0.3em 0.3em 0 0 var(--color),
    inset 0.3em 0.3em 0 0 var(--color);
    --color: rgb(0, 149, 255);
    --hover: #{adjust-hue(yellow, 45deg)};
  &:hover,
  &:focus {
    box-shadow: 
      0 0 0 0 var(--hover),
      inset 6em 3.5em 0 0 var(--hover);
  }
}

.close {
  --color: pink;
  --hover: #{adjust-hue(pink, 45deg)};
  text-align: center;
}

.raise {
  --color: rgb(193, 242, 174);
  --hover: #{adjust-hue(blue, 45deg)};
  text-align: center;
}

.slide {
  --color:purple;
  --hover: #{adjust-hue(purple, 45deg)};
  text-align: center;
}

  .fill {
    --color: green;
    --hover: #{adjust-hue(green, 45deg)};
    text-align: center;
  }


button {  
  color: var(--color);
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #ffffff;
  }
}


input{  
    color: black;
    transition: 0.25s;
    
    &:hover,
    &:focus { 
      border-color: var(--hover);
      color: black;
    }
  }

body {
  color: #fff;
  background: rgb(45,45,45);
  font: 300 1em 'Fira Sans', sans-serif;
  
  justify-content: center;
  
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

h1 { font-size: 20px; }

code { 
  color: #e4cb58;
  font: inherit;
}

.fade-in-text {
  opacity: 0; 
  animation: fadeIn 2s ease-in-out forwards;
  
}

@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(20px); 
    transform: translateY(20px);
  }
  to {
    opacity: 1; 
    filter: blur(0);
    transform: translateY(0);
  }
}

.fade-in-text2 {
  opacity: 0; 
  animation: fadeIn2 3s ease-in-out forwards;
  
}

@keyframes fadeIn2 {
  from {
    opacity: 1; 
    filter: blur(0);
    transform: translateY(0);
  }
  to {
    opacity: 0;
    filter: blur(20px); 
    transform: translateY(20px);
  }
}

#btnScroll {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#btnScroll:hover {
  background: #0056b3;
}