<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;500&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" href="{{url_for('static', filename='imgs/logo_nova.png')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.2">
    <title>Agendar consulta - Clínica AbertaMente</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div style="display: flex; background-color: rgb(45, 45, 45);height: 50px;transform: scale(1.05);">
        <p style="margin-top: 10px;margin-left: 1000px;"><a>Rua Dr. Bacelar, 368-Sala 24 - Vila Clementino - São Paulo/SP</a></p>
            </div>
            <div style="display: flex; background-color: rgb(142, 212, 142);height: 200px;transform: scale(1.05);" id="dv">
                <a href="/"><img src="{{url_for('static', filename='imgs/Sagai_branco.png')}}" style="width: 180px;height:180px;margin-left: 80px;margin-top: 10px;"></a>
                <div style="margin-top: 10px;transform: scale(0.90)">
                <button class="fill" style="margin-left: 300px;height: 80px;margin-top: 20px;" id="b"><p style="color:rgb(255, 255, 255);font-family: Arial, Helvetica, sans-serif;font-size: 20px;margin-top: 10px;">Home</p></button>
                <button onclick="window.location.href='/infos'" class="fill" style="height: 80px;margin-top: 30px;margin-left: 30px;" id="b"><p style="color:rgb(255, 255, 255);font-family: Arial, Helvetica, sans-serif;font-size: 20px;margin-top: 10px;">Sobre nós</p></button>
                <button class="fill" style="height: 80px;margin-top: 30px;margin-left: 20px;" id="bt3"><p style="color:rgb(255, 255, 255);font-family: Arial, Helvetica, sans-serif;font-size: 20px;margin-top: 10px;">Tratamentos</p></button>
                <button class="fill" style="height: 80px;margin-top: 30px;margin-left: 20px;" id="b"><p style="color:rgb(255, 255, 255);font-family: Arial, Helvetica, sans-serif;font-size: 20px;margin-top: 10px;">Contato</p></button>
                <button class="fill" style="height: 80px;margin-top: 30px;margin-left: 30px;transform: scale(1.3);font-size: 20px;color: white;" id="bt4" >☰</button>
                </div>
                    </div>
<div style="display: flex;background-color: rgb(193, 255, 238);height: 800px;transform: scale(1.05);">
    <div style="display: flex;">
        <div>
        <p class="fade-in-text" style="font-size: 70px;margin-left: 100px;color:rgb(86, 43, 226)">Agende uma consulta</p><br>
        <p class="fade-in-text" style="margin-top: -70px;font-size: 30px;margin-left: 100px;color:rgb(86, 43, 226)">É sempre bom ter você por aqui!<br><br>Consulta para:</p>
      <div style="display: flex;margin-top: -20px;">
        <p class="fade-in-text" style="font-size: 25px;margin-left: 100px;color:rgb(156, 43, 226)" id="t1"><u>Autismo</u></p>
        <p class="fade-in-text" style="font-size: 25px;margin-left: 10px;color:rgb(156, 43, 226)" id="t2"><u>TDAH</u></p>
        <p class="fade-in-text" style="font-size: 25px;margin-left: 10px;color:rgb(156, 43, 226)" id="t3"><u>Dependências</u></p>
        <p class="fade-in-text" style="font-size: 25px;margin-left: 10px;color:rgb(156, 43, 226)" id="t4"><u>Bipolaridade</u></p>
        <p class="fade-in-text" style="font-size: 25px;margin-left: 10px;color:rgb(156, 43, 226)" id="t5"><u>Outros</u></p>
    </div></div>
<fieldset style="background-color: rgb(123, 218, 255);width: 900px;;height: 800px;border-color:rgb(123, 218, 255);">

<fieldset style="border-color: rgba(0,0,0,0);width: 500px;height: 350px;margin-top: 30px;margin-left: 30px;" id="fld">

<p style="margin-left: 20px;margin-top: 20px;font-size: 30px;color:rgb(178, 72, 245)" id="q1">Agendar consulta</p>
<form action="/reg" method="post">
    <div style="display: flex;">
    <div>
<p style="margin-left: 20px;margin-top: 20px;font-size: 30px;color:rgb(255, 255, 255)">Seu nome:</p>
<input name="nome" type="text" style="margin-top: -30px;background-color: rgba(0,0,0,0);border-color: rgb(255, 255, 255);font-size: 25px;margin-left: 20px;width: 300px;height: 50px;border-radius: 5px;color:purple;font:300 1em 'Fira Sans', sans-serif;">
<p style="margin-left: 20px;margin-top: 20px;font-size: 30px;color:rgb(255, 255, 255)">Seu e-mail:</p>
<input name="email" type="text" style="margin-top: -30px;background-color: rgba(0,0,0,0);border-color: rgb(255, 255, 255);font-size: 25px;margin-left: 20px;width: 250px;height: 50px;border-radius: 5px;color:purple;font:300 1em 'Fira Sans', sans-serif;">
    </div>
    <div style="text-align: left;">
        <p style="margin-left: 20px;margin-top: 20px;font-size: 30px;color:rgb(255, 255, 255)">Data da consulta:</p>
<input name="infos" id="inf" type="date" style="text-align: left;width: 300px;height:50px;margin-top: -20px;background-color: rgba(0,0,0,0);border-color: rgb(255, 255, 255);font-size: 25px;margin-left: 20px;border-radius: 5px;color:purple;font:300 1em 'Fira Sans', sans-serif;">
<input name="infos2" id="inf2" type="text" hidden>
<input type="submit" style="  font: 300 1em 'Fira Sans', sans-serif;background-color: rgb(100, 214, 144);margin-left: 20px;margin-top: 15px;font-size: 25px;color:rgb(255, 255, 255);" value="enviar">

    </div>
    </div>
</form>
</fieldset>
</fieldset>

</div>
</div>
<script>

function set(str1){
document.getElementById(str1).addEventListener("click", function(event) {
    
    var txt1=document.getElementById('q1')
    txt1.classList.add('fade-in-text2')
    
    setTimeout(() => { 
    
    txt1.innerText='Agendar consulta para '+document.getElementById(str1).innerText
    txt1.classList.remove('fade-in-text2')
    txt1.classList.add('fade-in-text')
    
    }, 2000)
        
    });
    document.getElementById('inf2').innerText='Agendando consulta para '+document.getElementById(str1).innerText
}
set('t1')
set('t2')
set('t3')
set('t4')
set('t5')

</script>
</body>
</html>